<div class="container-fluid">
    <!-- MATERIAL
        <mat-slider min='1' max='100' step='1' value='1'></mat-slider>
    -->
    <div class="row header">
        <img class="image1" src="https://images.pexels.com/photos/2582548/pexels-photo-2582548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=480&w=780">
        <span class="title1">
            <h1>Web demo app per imparare le basi del Framework <strong style="color: rgb(246, 69, 69);">Angular.ts</strong></h1>
            <br>
            <h2>Typescript, Modules, Routing, Observable, Material and Bootstrap</h2>
            <br>
            <h3>Have a good experience!</h3>
        </span>
    </div>
    <br><br>
</div>
<div class="container mt-5">
    <h2 class="text-center">Angular Framework's strong points</h2>
    <div class="row text-center post mt-5">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.pexels.com/photos/2283805/pexels-photo-2283805.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Components</h5>
                  <p class="card-text">Struttura modulare grazie ai suoi componenti</p>
                  <a href="#" class="btn btn-primary">Leggi di più</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Routing</h5>
                  <p class="card-text">Puoi decidere se utilizzare o no il routing di default</p>
                  <a href="#" class="btn btn-primary">Leggi di più</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.pexels.com/photos/1209843/pexels-photo-1209843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Styling</h5>
                  <p class="card-text">Massima personalizzazione dello stile grazie a Bootstrap o Material</p>
                  <a href="#" class="btn btn-primary">Leggi di più</a>
                </div>
              </div>
        </div>
    </div>
</div>